nav
	.container
		a.site-brand.waves-effect.waves-light(href="/") NEM CMS
		ul.right
			li
				a.waves-effect.waves-light(href="#") Link
			li
				a.waves-effect.waves-light(href="#") Link
			li
				a.waves-effect.waves-light(href="/login") #{__('Sign In')}